/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

html {
    scroll-behavior: smooth;
}
button{
    cursor: pointer;
}

/* == SCROLL BAR == */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #050718;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #90123F;
}

/* == || SCROLL BAR == */
/* == GENERAL == */
.container {
    width: 100%;
    max-width: 1240px !important;
    margin: auto;
    padding: 30px 16px;
}

/* == || GENERAL == */
/* == HEADER == */

nav {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    z-index: 10;
    top: 0;
    padding: 10px 0px;
}

.nav.sticky {
    background-color: #ffffff;
    -webkit-box-shadow: 6px 6px 24px #00000033;
    box-shadow: 6px 6px 24px #00000033;
    -webkit-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
}

.nav-container {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.links {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.links a {
    font-size: 16px;
    font-weight: 500;
    color: #00000A;
    padding: 13px 20px;
}

.links button {
    width: 157px;
    height: 40px;
    background: #F39711;
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #F9FCFC;
    margin: 0px 0px 0px 20px;
}

.links a.active,
.links a:hover {
    color: #90123F;
}

.nav-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #25518C;

}

.nav-logo img {
    margin: 0px 10px 0px;
}

.menu-bar {
    padding: 5px;
}

.menu-btn {
    font-size: 28px;
    padding: 10px 20px;
}

/* == || Header == */




/* == BANNER == */
section.banner {
    min-height: 720px;
    width: 100%;
    background-image: url('img/section-banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 100px;
}

.banner-container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.banner-text {
    max-width: 1000px;
    min-width: 280px;
    text-align: center;
}

.banner-text h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 80px;
    text-align: center;
    color: #F9FCFC;
    margin: 0px 0px 20px;
}

.banner-text p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 145%;
    text-align: center;
    color: #F9FCFC;
    margin: 20px 0px 20px;
}

.banner-btns {
    margin: auto !important;
}

.banner-btns button {
    width: 217px;
    height: 50px;
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #F9FCFC;
    margin: 10px;
}

.banner-btns button:nth-child(1) {
    background: #F39711;
}

.banner-btns button:nth-child(2) {
    background: #F3971100;
    border: 2px solid #F9FCFC;
}

/* == || BANNER == */
.summit-info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.summit-info {
    background: #90123F;
    padding: 120px 0px 60px;
}

.summit-card {
    width: 100%;
    min-width: 280px;
    max-width: 380px;
    min-height: 176px;
    text-align: center;
    background: #F9FCFC;
    border-radius: 25px;
    padding: 40px;
}

.summit-card span:nth-child(1) {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #00000A;
}

.summit-card span:nth-child(2) {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #00000A;
}


section.overview,
section.speakers,
section.contact,
section.schedule,
section.sponsors {
    padding: 120px 0px 80px;
}

.overview-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.overview-text {
    width: 100%;
    max-width: 700px;
    min-width: 280px;
}

.overview-text h3 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 30px;
    border-left: 8px solid #F39711 !important;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #00000A;
    padding: 0px 20px 0px;
    margin: 0px 0px 20px;
}

.overview-text h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #00000A;
    margin: 20px 0px;
}

.overview-text p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #00000A;
}

.overview-images {
    width: 100%;
    max-width: 490px;
    min-width: 280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.overview-images .col {
    padding: 10px;
    max-width: 245px;
}

.overview-images .col img:nth-child(1) {
    margin-bottom: 20px;
}

.overview-images .col.one {
    padding-top: 60px;
}

.takeaway {
    padding: 120px 0px 60px;
    background: #E8F1FF;
}

.takeaway-container h1,
h1.head-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    margin: 0px 0px 20px;
}

.takeaway-container h1 span,
h1.head-title span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #F39711 !important;
}

.takeaway-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.takeaway-card {
    height: 380px;
    width: 380px;
    border-radius: 50% !important;
    background: #F9FCFC;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 60px;
    margin: 15px 10px;
}

.card-center h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #00000A;
    margin: 20px 0px;
    width: 100%;
    max-width: 280px;
}

.card-center p {
    width: 100%;
    max-width: 280px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #00000A;
}

.speakers-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.speaker-card {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    max-width: 380px;
    min-width: 280px;
    margin: 10px;
    cursor: pointer;
}

.speaker-card:hover .speaker-more {
    display: block;
    -webkit-transition: all ease 400ms;
    -o-transition: all ease 400ms;
    transition: all ease 400ms;
}

.speaker-image {
    overflow: hidden;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
}

.speaker-more {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(144, 18, 63, 0.75);
    border-radius: 25px;
    padding: 40px 20px;
    -webkit-transition: all ease 400ms;
    -o-transition: all ease 400ms;
    transition: all ease 400ms;
    display: none;
}

.speaker-more p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #F9FCFC;
}

.speaker-image img {
    vertical-align: middle;
    width: 100%;
}

.speaker-info {
    padding: 20px;
}

.speaker-info h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #00000A;
}

.speaker-info p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #00000A;
    margin: 20px 0px 10px;
}


/* == Events == */
section.events {
    padding: 40px 0px;
    background-color: var(--transparent);
    background-image: url('img/events-svg-image.svg');
    background-size: 60% 100%;
    background-position: left top;
    background-repeat: no-repeat;
    position: relative;
}

.events-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.events.left {
    width: 100%;
    max-width: 440px;
    min-width: 280px;
}

.events.left .left-text {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
}

.events.left .left-text h3 {
    color: var(--yellow);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}

.events.left .left-text h1 {
    color: var(--light-grey);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    margin: 14px 0px;
}

.events.left .left-text p {
    color: var(--white);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.events.left .left-text button {
    border-radius: 40px;
    border: 2px solid var(--yellow);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: var(--transparent);
    padding: 10px 56px;
    color: var(--yellow);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin: 20px 0px 30px;
}

.events.left .left-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.events.left .r-i.imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.events.left .left-images img {
    margin: 5px;
}

.l-i.imgs img {
    float: right;
}

.events.right {
    width: 100%;
    max-width: 660px;
    min-width: 280px;
    padding: 10px 14px;
}

.events.right button.timeline-btn {
    border-radius: 60px;
    background: var(--light-grey);
    width: 100%;
    color: var(--black);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    padding: 10px 0px;
}

.timeline-cards {
    padding: 60px 0px 10px;
    width: 100%;
}

.timeline-card {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.t-c-left {
    width: 162px;
    position: relative;
    border-right: 4px solid var(--yellow);
}

.t-c-left span.time {
    color: var(--light-grey);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

.t-c-left span.schedule-number {
    height: 32px;
    width: 32px;
    border-radius: 16px;
    background-color: var(--yellow);
    position: absolute;
    top: 0px;
    right: -16px;
    color: var(--light-grey);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.t-c-right {
    width: 100%;
    max-width: 460px;
    min-width: 280px;
    padding: 0px 0px 0px 40px;
}

.t-c-right h3 {
    color: var(--light-grey);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin: 0px 0px 10px;
}

.t-c-right p,
.t-c-right ul li {
    color: var(--light-grey);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    margin: 4px 0px;
}

.t-c-right ul {
    list-style: none;
    padding: 0px 0px 0px 20px;
}

.t-c-right ul li::before {
    content: "\2022";
    color: var(--white);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.events-ellipse {
    position: absolute;
    top: 20%;
    right: 10%;
    width: 470px;
    height: 423px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: 470px;
    background: var(--yellow);
    -webkit-filter: blur(290px);
    filter: blur(290px);
}

/* == SPONSORS == */
p.register-text{
    text-align: center;
    margin: 10px 0px 30px;
}
.register-card {
    text-align: center;
}
.register-card h1{
    text-align: center;
    margin: 10px 0px 20px;
}
.register-card button{
    height: 50px;
    width: 180px;
    border-radius: 4px;
    outline: none;
    border: 0px;
    font-weight: 500;
    background-color: #F39711;
    color: #ffffff;
    cursor: pointer;
}
.register-card button:hover{
    background-color: #DE4404;
}
.register-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

/* == SPONSORS == */
.sponsors-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

/* == || Contact == */
footer {
    background: #90123F;
    padding: 10px 0px;
}

.footer-container p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #F9FCFC;
}

/* == RESPONSIVE == */
/* mobile devices (landscape tablets, 768px and up) */
@media screen and (max-width: 640px) {
    .summit-card {
        width: 100%;
        min-width: 280px;
        max-width: 380px;
        min-height: 176px;
        text-align: center;
        background: #F9FCFC;
        border-radius: 25px;
        padding: 40px;
        margin-bottom: 20px;
    }

    .overview-images .col img {
        width: 168px;
    }

    .black-schedule {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        width: 100%;
        min-width: 280px;
        padding: 10px 0px;
        border-bottom: 2px solid #51ADE5;
        margin-bottom: 20px 0px 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .black-schedule .top {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding: 0px 0px 10px;
        width: 100%;
        max-width: 600px;
    }

    .sponsor-card {
        width: 100px;
        height: 100px;
        border: 2px solid #E0E2F1;
        border-radius: 25px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .sponsor-card img {
        width: 80%;
        -o-object-fit: contain;
        object-fit: contain;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 994px) {
    nav {
        height: 120px;
    }

    .menu-btn {
        color: #1C1B1F;
    }

    .links {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        right: -100%;

        display: block;
        padding: 80px 0px 0px;
        text-align: centers;
        -webkit-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;
        transition: all ease 0.5s;

        z-index: 5;
        background-color: #ffffff;
        overflow: auto;
    }

    .links a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
        width: 100% !important;
        height: 50px;
        color: #1C1B1F;
        padding: 0px 50px 0px;
    }

    .links a:hover {
        background-color: #DE4404;
        color: #ffffff;
    }

    .links span {
        cursor: pointer;
    }

    .links.active {
        right: 0%;
    }

    .cancel-btn {
        height: 40px;
        width: 40px;
        border-radius: 20px;
        -webkit-box-shadow: 2px 2px 12px #0e315533;
        box-shadow: 2px 2px 12px #0e315533;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: #1C1B1F;
        font-size: 18px;
        position: absolute;
        top: 12px;
        right: 20px;
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .links {
        padding: 0px 20px;
        display: block;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    nav {
        background: #ffffff;
    }

    .menu-btn {
        color: #ffffff;
    }


    .menu-bar {
        display: none !important;
    }

    .cancel {
        display: none;
    }

    form .control-group.name {
        width: 100%;
        max-width: 280px;
    }
}

/* == || RESPONSIVE == */